* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  padding: 20px;
  background-image: url(./assets/bg.jpeg);
  background-position: center;
  background-size: cover;
}

.d-flex {
  display: flex;
}

h1 {
  text-align: center;
  color: #6b6e87;
}

.discount {
  width: fit-content;
  margin: 20px auto;
  align-items: center;
}
.discount span {
  color: #6e6c86;
}

.toggler-wrapper {
  display: block;
  width: 45px;
  height: 25px;
  cursor: pointer;
  position: relative;
  margin-inline: 10px;
}

.toggler-wrapper input[type="checkbox"] {
  display: none;
}

.toggler-slider {
  background: linear-gradient(
    145deg,
    rgba(156, 159, 227, 1) 7%,
    rgba(112, 118, 232, 1) 34%
  );
}
.toggler-wrapper .toggler-slider {
  background-color: #ccc;
  position: absolute;
  border-radius: 100px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}
.toggler-wrapper .toggler-knob {
  position: absolute;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

input[type="checkbox"]:checked + .toggler-slider .toggler-knob {
  left: calc(100% - 19px - 3px);
}

.toggler-knob {
  width: calc(25px - 6px);
  height: calc(25px - 6px);
  border-radius: 50%;
  left: 3px;
  top: 3px;
  background-color: #fff;
}
.price-container {
  justify-content: center;
  align-items: center;
  color: #767788;
}

.price-display {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 3px 3px 3px 0px #eceaf9;
  text-align: center;
  width: 250px;
  transition: all 0.3s ease;
}

.price-type {
  font-size: 2rem;
}

.price {
  font-size: 3rem;
  margin: 10px 0;
  font-weight: 900;
  align-items: center;
  justify-content: center;
}
.price .price-coin {
  font-size: 2rem;
  margin-left: 5px;
}

table {
  margin: 10px 0;
  width: 100%;
  font-weight: 900;
}

table td {
  padding: 10px;
  border-top: 1px solid black;
}
table tr:last-child td {
  border-bottom: 1px solid black;
}

.plus-details {
  width: 100%;
  border: none;
  outline: none;
  background: linear-gradient(
    145deg,
    rgba(156, 159, 227, 1) 7%,
    rgba(112, 118, 232, 1) 34%
  );
  padding: 5px;
  font-size: 1rem;
  font-weight: 900;
  color: white;
  margin-top: 10px;
  border-radius: 5px;
}

.hover {
  color: white;
  background: linear-gradient(
    145deg,
    rgba(156, 159, 227, 1) 7%,
    rgba(112, 118, 232, 1) 34%
  );
  height: 350px;
}

.hover > .plus-details {
  background: linear-gradient(
    145deg,
    rgb(255, 255, 255) 7%,
    rgb(255, 255, 255) 34%
  );
  color: rgba(112, 118, 232, 1);
  font-size: 1.5rem;
}

@media (max-width: 768px) {
  .price-container {
    justify-content: unset;
    align-items: unset;
    flex-direction: column;
  }
  .hover {
    height: auto;
  }
  .price-display {
    width: 100%;
  }
}
